<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="partials/head :: head">
    <title>Create Posts</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container p-5 border-left" style="margin-top: -5%;">
    <h2>Create Posts</h2>
    <hr>
    <form th:action="@{'/posts/create'}" th:method="post" class="p-5" style="margin-top: -5%;">
        <div class="form-group">
            <label for="createTitle">Title</label>
            <input type="text" class="form-control" id="createTitle" name="createTitle">
        </div>
        <div class="form-group">
            <label for="createBody">Body</label>
            <textarea class="form-control" id="createBody" name="createBody"></textarea>
        </div>
        <button style="border-left: 4px solid orange;" class="bg-dark text-white" type="submit">Submit post</button>
        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/posts}">back</a>
    </form>

    <!--    CREATE POST FORM   -->


</div>
>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>