<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="partials/head :: head">
    <title>Create Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h2>Create</h2>

<form th:action="@{'/posts/create'}" th:method="post" class="p-5">
    <div class="form-group">
        <label for="createTitle">Title</label>
        <input type="text" class="form-control" id="createTitle" name="createTitle">
    </div>
    <div class="form-group">
        <label for="createBody">Body</label>
        <textarea class="form-control" id="createBody" name="createBody"></textarea>
    </div>
    <button type="submit">Submit post</button>
</form>

<!--    CREATE POST FORM   -->



<hr>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>