<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="partials/head :: head">
    <title>Edit Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container p-5">
    <h2>Edit</h2>

    <!--    EDIT FORM   -->
    <form th:action="@{'/posts/edit/' + {id}}" th:method="post" class="p-5">
        <div class="form-group">
            <label for="editTitle">Edit Title</label>
            <input type="text" class="form-control" id="editTitle" name="titleEdit" th:value="${title}">
        </div>
        <div class="form-group">
            <label for="editPost">Edit Body</label>
            <textarea class="form-control" id="editPost" name="postEdit" th:text="${body}"></textarea>
        </div>
        <button type="submit">Submit changes</button>
    </form>

    <hr>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>