<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Post</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Show</h1>
<hr>

<h2 th:text="${post.title}"></h2>
<p th:text="${post.post}"></p>
<hr>
<p>created by:</p>
<p th:text="${post.getParentUser()}"></p>

<!--    EDIT BTN    -->
<a th:href="@{/posts/edit/{id}(id=${id})}" th:value="${id}">Edit</a>

<!--    DELETE BTN    -->
<form action="/posts/show/${id}" method="post">
    <input type="hidden" th:value="${id}" name="deleteBtn">
    <button type="submit" onClick="return confirm('sure?')">Delete</button>
</form>

<hr>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>