<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="partials/head :: head">
    <title>Edit Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form action="/posts/show/edit" method="post">
    <div class="form-group">
        <label for="formGroupExampleInput">Edit Post</label>
        <input type="text" class="form-control" id="formGroupExampleInput" th:placeholder="${posts.title}">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
</form>


<hr>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>