<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Login</h1>
<h6 th:text="${username}"></h6>
<h6 th:text="${userPassword}"></h6>
<form action="/login" method="post">
<!--  Login Name  -->
    <label for="login">User Name</label>
    <input type="text" name="loginName" id="login">
<!--  Password  -->
    <label for="password">Password</label>
    <input type="text" name="loginPassword" id="password">
    <button>Submit</button>
</form>

</body>
</html>